In [287]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv("train.csv")

In [288]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [289]:
df['Sex']=df['Sex'].isin(['female']).astype(int)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [290]:
df['Cabin']=df['Cabin'].replace(np.nan,'N',regex=True)
df['Cabin']=df['Cabin'].str[0:1]
df['Cabin'].unique()

array(['N', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [291]:
df=df.drop(['PassengerId','Name','Ticket'],axis=1)
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    0  22.0      1      0   7.2500     N        S
1         1       1    1  38.0      1      0  71.2833     C        C
2         1       3    1  26.0      0      0   7.9250     N        S
3         1       1    1  35.0      1      0  53.1000     C        S
4         0       3    0  35.0      0      0   8.0500     N        S

In [292]:
df=pd.get_dummies(df)
df.corr()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_N,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.338481,0.543351,-0.077221,-0.035322,0.081629,0.257307,0.022287,0.175095,0.114652,0.150716,0.145321,0.057935,0.016040,-0.316912,-0.026456,0.168240,0.003650,-0.155660
Pclass,-0.338481,1.000000,-0.131900,-0.369226,0.083081,0.018443,-0.549500,-0.204934,-0.369572,-0.417048,-0.278690,-0.230091,0.011063,0.055561,0.725541,-0.052496,-0.243292,0.221009,0.081720
Sex,0.543351,-0.131900,1.000000,-0.093254,0.114631,0.245489,0.182333,-0.078271,0.109689,0.058649,0.079248,0.047003,0.008202,0.091031,-0.140391,-0.024728,0.082853,0.074115,-0.125722
Age,-0.077221,-0.369226,-0.093254,1.000000,-0.308247,-0.189119,0.096067,0.136309,0.093914,0.122041,0.136975,0.121440,-0.083970,-0.077296,-0.249732,0.039474,0.036261,-0.022405,-0.032523
SibSp,-0.035322,0.083081,0.114631,-0.308247,1.000000,0.414838,0.159651,-0.046266,-0.034538,0.029251,-0.017575,-0.036865,0.001706,-0.001402,0.040460,-0.015907,-0.059528,-0.026354,0.070941
Parch,0.081629,0.018443,0.245489,-0.189119,0.414838,1.000000,0.216225,-0.040325,0.056498,0.030736,-0.019125,-0.016554,0.023694,0.072388,-0.036987,-0.015878,-0.011069,-0.081228,0.063036
Fare,0.257307,-0.549500,0.182333,0.096067,0.159651,0.216225,1.000000,0.019549,0.386297,0.364318,0.098878,0.053717,-0.033093,-0.025180,-0.482075,0.002224,0.269335,-0.117216,-0.166603
Cabin_A,0.022287,-0.204934,-0.078271,0.136309,-0.046266,-0.040325,0.019549,1.000000,-0.030880,-0.034846,-0.025663,-0.025256,-0.015923,-0.008787,-0.240136,-0.004386,0.093040,-0.040246,-0.055383
Cabin_B,0.175095,-0.369572,0.109689,0.093914,-0.034538,0.056498,0.386297,-0.030880,1.000000,-0.062841,-0.046280,-0.045547,-0.028715,-0.015847,-0.433053,-0.007910,0.168642,-0.072579,-0.123057
Cabin_C,0.114652,-0.417048,0.058649,0.122041,0.029251,0.030736,0.364318,-0.034846,-0.062841,1.000000,-0.052225,-0.051398,-0.032403,-0.017883,-0.488683,-0.008926,0.113952,-0.049776,-0.066995
Cabin_D,0.150716,-0.278690,0.079248,0.136975,-0.017575,-0.019125,0.098878,-0.025663,-0.046280,-0.052225,1.000000,-0.037852,-0.023864,-0.013170,-0.359896,-0.006574,0.102977,-0.060318,-0.051139
Cabin_E,0.145321,-0.230091,0.047003,0.121440,-0.036865,-0.016554,0.053717,-0.025256,-0.045547,-0.051398,-0.037852,1.000000,-0.023486,-0.012961,-0.354194,-0.006470,-0.015939,-0.037897,0.038685
Cabin_F,0.057935,0.011063,0.008202,-0.083970,0.001706,0.023694,-0.033093,-0.015923,-0.028715,-0.032403,-0.023864,-0.023486,1.000000,-0.008171,-0.223299,-0.004079,-0.034726,-0.004113,0.033537
Cabin_G,0.016040,0.055561,0.091031,-0.077296,-0.001402,0.072388,-0.025180,-0.008787,-0.015847,-0.017883,-0.013170,-0.012961,-0.008171,1.000000,-0.123234,-0.002251,-0.032371,-0.020654,0.041589
Cabin_N,-0.316912,0.725541,-0.140391,-0.249732,0.040460,-0.036987,-0.482075,-0.240136,-0.433053,-0.488683,-0.359896,-0.354194,-0.223299,-0.123234,1.000000,-0.061513,-0.208528,0.129572,0.110087
Cabin_T,-0.026456,-0.052496,-0.024728,0.039474,-0.015907,-0.015878,0.002224,-0.004386,-0.007910,-0.008926,-0.006574,-0.006470,-0.004079,-0.002251,-0.061513,1.000000,-0.016158,-0.010310,0.020759
Embarked_C,0.168240,-0.243292,0.082853,0.036261,-0.059528,-0.011069,0.269335,0.093040,0.168642,0.113952,0.102977,-0.015939,-0.034726,-0.032371,-0.208528,-0.016158,1.000000,-0.148258,-0.778359
Embarked_Q,0.003650,0.221009,0.074115,-0.022405,-0.026354,-0.081228,-0.117216,-0.040246,-0.072579,-0.049776,-0.060318,-0.037897,-0.004113,-0.020654,0.129572,-0.010310,-0.148258,1.000000,-0.496624
Embarked_S,-0.155660,0.081720,-0.125722,-0.032523,0.070941,0.063036,-0.166603,-0.055383,-0.123057,-0.066995,-0.051139,0.038685,0.033537,0.041589,0.110087,0.020759,-0.778359,-0.496624,1.000000

In [293]:
list(df.columns.values)

['Survived',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Cabin_A',
 'Cabin_B',
 'Cabin_C',
 'Cabin_D',
 'Cabin_E',
 'Cabin_F',
 'Cabin_G',
 'Cabin_N',
 'Cabin_T',
 'Embarked_C',
 'Embarked_Q',
 'Embarked_S']

In [294]:
df=df.drop(['Age','Cabin_A','Cabin_F','Cabin_G','Cabin_T','Embarked_Q'],axis=1)
df.head()

,Survived,Pclass,Sex,SibSp,Parch,Fare,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_N,Embarked_C,Embarked_S
0,0,3,0,1,0,7.2500,0,0,0,0,1,0,1
1,1,1,1,1,0,71.2833,0,1,0,0,0,1,0
2,1,3,1,0,0,7.9250,0,0,0,0,1,0,1
3,1,1,1,1,0,53.1000,0,1,0,0,0,0,1
4,0,3,0,0,0,8.0500,0,0,0,0,1,0,1

In [295]:
x = df[['SibSp','Parch','Pclass','Fare','Sex','Cabin_B','Cabin_C','Cabin_D','Cabin_E','Cabin_N','Embarked_C','Embarked_S']]
y = df[['Survived']]

In [296]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x)
scaled_data = scaler.transform(x)
scaled_data = pd.DataFrame(scaled_data,columns=x.columns)
scaled_data

,SibSp,Parch,Pclass,Fare,Sex,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_N,Embarked_C,Embarked_S
0,0.432793,-0.473674,0.827377,-0.502445,-0.737695,-0.235981,-0.266296,-0.196116,-0.193009,0.544925,-0.482043,0.619306
1,0.432793,-0.473674,-1.566107,0.786845,1.355574,-0.235981,3.755222,-0.196116,-0.193009,-1.835115,2.074505,-1.614710
2,-0.474545,-0.473674,0.827377,-0.488854,1.355574,-0.235981,-0.266296,-0.196116,-0.193009,0.544925,-0.482043,0.619306
3,0.432793,-0.473674,-1.566107,0.420730,1.355574,-0.235981,3.755222,-0.196116,-0.193009,-1.835115,-0.482043,0.619306
4,-0.474545,-0.473674,0.827377,-0.486337,-0.737695,-0.235981,-0.266296,-0.196116,-0.193009,0.544925,-0.482043,0.619306
...,...,...,...,...,...,...,...,...,...,...,...,...
886,-0.474545,-0.473674,-0.369365,-0.386671,-0.737695,-0.235981,-0.266296,-0.196116,-0.193009,0.544925,-0.482043,0.619306
887,-0.474545,-0.473674,-1.566107,-0.044381,1.355574,4.237623,-0.266296,-0.196116,-0.193009,-1.835115,-0.482043,0.619306
888,0.432793,2.008933,0.827377,-0.176263,1.355574,-0.235981,-0.266296,-0.196116,-0.193009,0.544925,-0.482043,0.619306
889,-0.474545,-0.473674,-1.566107,-0.044381,-0.737695,-0.235981,3.755222,-0.196116,-0.193009,-1.835115,2.074505,-1.614710
890,-0.474545,-0.473674,0.827377,-0.492378,-0.737695,-0.235981,-0.266296,-0.196116,-0.193009,0.544925,-0.482043,-1.614710

In [303]:
x

,SibSp,Parch,Pclass,Fare,Sex,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_N,Embarked_C,Embarked_S
0,1,0,3,7.2500,0,0,0,0,0,1,0,1
1,1,0,1,71.2833,1,0,1,0,0,0,1,0
2,0,0,3,7.9250,1,0,0,0,0,1,0,1
3,1,0,1,53.1000,1,0,1,0,0,0,0,1
4,0,0,3,8.0500,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,2,13.0000,0,0,0,0,0,1,0,1
887,0,0,1,30.0000,1,1,0,0,0,0,0,1
888,1,2,3,23.4500,1,0,0,0,0,1,0,1
889,0,0,1,30.0000,0,0,1,0,0,0,1,0
890,0,0,3,7.7500,0,0,0,0,0,1,0,0

In [298]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(scaled_data,y,test_size = 0.2,random_state = 1)

In [299]:
from sklearn import linear_model

model = linear_model.LogisticRegression()
model.fit(x_train,y_train.values.ravel())

LogisticRegression()

In [300]:
from sklearn.preprocessing import StandardScaler

model.score(x_test,y_test)

0.776536312849162

In [308]:
dftest=pd.read_csv("test.csv")
dftest['Sex']=dftest['Sex'].isin(['female']).astype(int)
dftest['Cabin']=dftest['Cabin'].replace(np.nan,'N',regex=True)
dftest['Cabin']=dftest['Cabin'].str[0:1]
xtest=dftest.drop(['PassengerId','Name','Ticket'],axis=1)
xtest=pd.get_dummies(xtest)
xtest = xtest[['SibSp','Parch','Pclass','Fare','Sex','Cabin_B','Cabin_C','Cabin_D','Cabin_E','Cabin_N','Embarked_C','Embarked_S']]
dftest.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,N,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,N,S
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,N,Q
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,N,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,N,S

In [311]:
sampledata = xtest.iloc[0,:].tolist()
model.predict([sampledata])

array([0], dtype=int64)